body{
  background: #99CCFF;
}
.wrap{
  background-color: #00b38f;
}
h1{
    letter-spacing: 2px;
    font-size: 40px;
    color: blue;
    text-shadow: 3px 2px 0 pink;
    text-align: center;
}
.active{
  background-color: #4CAF50;
}
nav{
  float:left;
  text-align: center;
  font-size: 20px;
}
nav li {
  display:inline;
  padding:20 px;
}
nav a:hover{
  font-size: 20px;
  text-decoration:none;
}
img{
  height: 100%;
  width:100%;
}
.content{
  text-align: center;
  color: pink;
  text-shadow: 2px 3px 0 red;
  margin-top: 150px;
}
h2{
  font-size: 40px;
}
a{
  text-decoration: none;
}
footer{
    margin-top: 30px;
}
header{
  position:fixed;
}
